<!DOCTYPE html>
<html>
<head>
  <title>TodoRails</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Home", root_path %>
<%= link_to "Add List", new_list_path %>
<%= link_to "Lists!", list_index_path %>

<%= yield %>

</body>
</html>
